---
const team = [
  {
    name: 'Essiel Justice',
    image: '/assets/team-1.webp',
    job: 'Senior Software Engineer',
  },
  {
    name: 'John Barnes',
    image: '/assets/team-2.webp',
    job: 'Senior Software Engineer',
  },
  {
    name: 'Nana Asamoah',
    image: '/assets/team-3.webp',
    job: 'Product Designer',
  },
];

const stats = [
  {
    name: 'Years',
    value: '5',
  },
  {
    name: 'People using our projects',
    value: '40K',
  },
  {
    name: 'Projects',
    value: '17',
  },
  // {
  //   name: 'Awards',
  //   value: "'9'",
  // },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="sm:space-8 space-y-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Summary</h2>
      <!-- Stats -->
      <dl class="grid grid-cols-1 gap-6 sm:grid-cols-3">
        {
          stats.map((stat) => (
            <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
              <dt class="text-base">{stat.name}</dt>
              <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</section>
